<md-content class="md-padding flex" flex layout="column" layout-align="center center">
    <div class="login md-padding text-center md-whiteframe-z3">
        <form name="loginForm" method="post" novalidate="novalidate"
            data-ng-submit="vm.login()"
        >
            <h3 class="md-title">Login</h3>

            <div>
                <md-input-container>
                    <label>Username or email</label>
                    <input type="text" required="required"
                        data-ng-model="vm.credentials.identifier"
                    />
                </md-input-container>
            </div>

            <div>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" required="required"
                        data-ng-model="vm.credentials.password"
                    />
                </md-input-container>
            </div>

            <md-button class="md-raised md-primary" type="submit"
                data-ng-disabled="!loginForm.$valid"
            >Login</md-button>
        </form>
    </div>
</md-content>
