<md-toolbar>
    <div class="md-toolbar-tools">
        <span>
            <a href="/badges">Badge</a>
        </span>

        <!-- fill up the space between left and right area -->

        <span flex></span>

        <md-button aria-label="Login"
            data-ng-show="!vm.user"
            data-ui-sref="auth.login"
        >
            <i class="mdi mdi-login"></i>

            Login
        </md-button>

        <md-list-item data-ng-show="vm.user">
            <md-button aria-label="Profile"
                data-ui-sref="auth.profile"
            >
                <i class="mdi mdi-account"></i>

                {{vm.user.identifier}}
            </md-button>

            <md-button aria-label="Logout"
                data-ng-click="vm.logout($event)"
            >
                <i class="mdi mdi-logout"></i>

                Logout
            </md-button>
        </md-list-item>
    </div>
</md-toolbar>
